:root {
    --header_color: #2F2E2E;
    --wiki-bg_color: #B4A88A;
    --wiki-body_color: #D2BD9D;
    --wiki-inner_color_dark: #A58F6D;
    --wiki-inner_color_light: #dac8ad;
    --pane-padding: 5px 42px;


    --wiki-text_color_light: rgba(245,245,245,1);
  }

  body {
    display: block;
    margin: 0;
}

.wiki-base-bg {
    background-color: var(--wiki-bg_color);
    display:block;
}



.wiki-header {
  background-color: var(--header_color);
  height: 80px;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
}

.wiki-footer {
  background-color: var(--header_color);
  height: 80px;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
}



.wiki-body {
  background-color: var(--wiki-body_color);
  height: auto;

  width: 50%;
  min-width: 1000px;

  margin: auto;
  margin-top: 0%;

  
  display: flex;
  flex-flow: column wrap; 
  align-items: flex-start;
}


/*OUTER LIGHT BOX*/
.wiki-static-section {
  background-color: var(--wiki-inner_color_light);
  box-shadow: 1px 3px 5px #7a7260 inset;
}

/*INNER TITLE BOX*/
.wiki-static-section-titlebox {
  background-color: var(--wiki-inner_color_dark);
  box-shadow: 1px 2px 4px #5e5748 inset;

  display: flex;
  flex-flow: column wrap; 
  align-items: flex-start;
}






/*STATIC MOD HEADER PANEL*/
.mod_logo {
  width: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.mod_title_text {
  color: var(--wiki-text_color_light);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Nova Cut;
  font-weight: Book;
  font-size: 210%;
  opacity: 1;
}
.mod_body_text {
  color: var(--wiki-text_color_light);
  font-family: Nova Cut;
  font-weight: Book;
  font-size: 130%;
  opacity: 1;
}
.mod_developer_text {
  width: 60%;
  height: 10%;
  color: var(--wiki-text_color_light);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Nova Script;
  font-weight: Book;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  float: left;
  display: flex;
}
.mod_version_text {
  width: 60%;
  height: 10%;
  color: var(--wiki-text_color_light);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Nova Cut;
  font-weight: Book;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  float: left;
  display: flex;
}



/*CATEGORY PANEL*/
.category_panel {
  display: grid;

  grid-template-columns: auto auto auto auto;

  margin-top: 6%;
  margin-left: 5%;
  width: 90%;
  height: 46%;

}

.category_box_holder {
  min-width: 112px;
  max-width: 112px;
  height: 80%;

  margin-left: 10%;


  

}
.category_box {
  width: 100%;
  height: 72.5%;

  background-color:var(--wiki-inner_color_dark);
  box-shadow: 1px 2px 4px #5e5748 inset;
}
.category_box_text {
  width: 100%;
  height: 20%;

  background-color:var(--wiki-inner_color_dark);
  box-shadow: 1px 2px 4px #5e5748 inset;
  
  margin-top: 10%;
}
















.wiki-static-side-section-holder {
  height: auto;
  width: 27%;

  margin-right: 2%;

  display: flex;
  flex-flow: column wrap; 
  align-items: flex-start;
}




.AD {
  background-color: black;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
